.container
            {
                display: flex;
                flex-direction: row;
            }
            .sub_part1
            {
                display: flex;
                flex-direction: column;
                background: rgb(52,53,73);
                width: 195px;
                height: 100%;
                color:whitesmoke;
            }
            .second
            {
                display : flex;
                flex-direction: column;
                background: rgb(248,248,250);
            }
            .gk_header
            {
                height: 60;
                background: rgb(52,53,73);
                text-align: center;
                font-weight: 50;
                padding-top:20px;
            }
            .main
            {
                padding: 10px;
            }
            *
            {
                border :0;
                margin :0;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 10;
            }
            ul,li
            {
                list-style-type: none;
                padding: 8px;
                margin: 0;
            }
            a:link {
            color: whitesmoke;
            text-decoration: none;
          }
          
          a:visited {
            color: whitesmoke;
          }
          
          a:hover {
            color: whitesmoke;
          }
          
          a:active {
            color: whitesmoke;
          }

          .sub_part2
          {
              
              display: flex;
              flex: 1;
              flex-direction: column;
          }
          .header_bar
          {
              background: whitesmoke;
              height: 44px;
              display:flex;
              flex-direction: row;
          }
          .home
          {
              display: flex;
              flex-direction: row;
          }
          .dashboard
          {
              padding: 0px 0px 0px 10px;
          }
          .info_circle
          {
              flex: 1;
              padding: 0px 0px 0px 47px;
              color: purple;
          }
          
          .info_circle2
          {
              padding: 0px 0px 0px 82px;
              color: green;
          }
          .right_angle
          {
            padding: 0px 0px 0px 85px;
            flex:1;
            font-size:10px;
          }
          .menu
          {
            padding: 10px 0px 0px 20px;
          }
          .create
          {
              margin: 0px 0px 15px 20px;
              background: white;
              padding: 5px;
          }
          .search
          {
              background:rgb(225,225,235);
              margin: 5px 10px 10px 600px;
              width : 126px;
              height : 26px;
              border-radius: 25px;
              padding: 10px 0px 0px 10px;
              color:gray;
              display :flex;
              flex-direction: row;
          }
          .search_icon
          {
              padding : 0px 0px 0px 58px;
          }
          .fa-search
          {
              font-size :10;
          }
          .flag
          {
              padding: 15px 0px 0px 20px;
              color : gray;
          }
          .angle_down
          {
              color:gray;
              font-size:10px;
              padding: 20 0 0 5;
          }
          .capture_icon
          {
              font-size:15px;
              padding: 15 0 0 20;
              color:gray;
          }
          .right_side
          {
              padding : 0 0 0 130;
              display: flex;
              flex-direction: row;

          }
          .bell_icon
          {
            font-size:20px;
              padding: 12 0 0 20;
              color:gray;
          }
          .notification:after 
          {
            content: "";
            display: block;
            position: absolute;
            width: 15px;
            height: 10px;
            background: red;
            top: 0;
            left:5px;
            right:2px;
            border-radius: 50%;
          }
          .dashboard_title
          {
              display : flex;
              flex-direction : row;
              height: 79px;
              
          }
          .dashboard_heading
          {
            padding: 20 0 0 20;
              display : flex;
              flex-direction: column;
          }
          .settings
          {
              height:30px;
              width:90px;
              background: rgb(98,110,211);
              margin: 40 0 0 950;
              display:flex;
              flex-direction: row;
              border-radius:10%;
          }
          .settings_icon
          {
              font-size:10px;
              color:white;
              padding: 10 0 0 10;
          }
          .settings_title
          {
              color:white;
              padding: 7 0 0 10;
          }
          .stack
          {
              padding : 0 0 0 20;
              display :flex;
              flex-direction: row;
          }
          .element + .element
          {
              margin : 0 0 0 50;
          }
          .element
          {
              height:125;
              width:261;
              border-radius:2%;
              background: rgb(98,110,211);
              display : flex;
              flex-direction: column;
          }
          .order_div
          {
              width:48;
              height:45;
              background: rgb(124, 131, 219);
              margin :10 0 0 20;
              font-size:35;
              padding: 5 0 0 10;
              color:white;
          }
          .element_upper
          {
              display:flex;
              flex-direction: row;
          }
          .order_title_collection
          {
              display:flex;
              flex-direction: column;
              margin: 10 0 0 20;
          }
          .icons
          {
              display: flex;
              flex-direction: column;
          }
          .icons
          {
              display: flex;
              flex-direction: column; 
          }
          .bookmark_icon
          {
              padding: 10 0 0 27;
              transform: scale(4.5,2);
              color:rgb(78,166,155);
          }
          .bookmark_icon_2
          {
              padding: 10 0 0 27;
              transform: scale(4.5,2);
              color:rgb(233,70,97);
          }
          .bookmark_icon_3
          {
            padding: 10 0 0 25;
              transform: scale(4.5,2);
              color:rgb(59,165,248);
          }
          .bookmark_icon_4
          {
            padding: 10 0 0 25;
              transform: scale(4.5,2);
              color:rgb(245,180,51);
          }
          .arrow_icon
          {
            padding: 20 0 0 30;
            size:10px;
            color:rgb(78,166,155);
          }
          .arrow_icon_2
          {
            padding: 20 0 0 30;
            size:10px;
            color:  rgb(233,70,97);
          }
          .element_down
          {
              display:flex;
              flex-direction: row;
          }
          .since_last_month
          {
              margin:30 0 0 20;
              color: rgb(192, 195, 231);
          }
          .arrow_right_icon
          {
            padding: 30 0 0 120;
            color: rgb(192, 195, 231);
          }
          .footer
          {
              display:flex;
              flex-direction: row;
              flex:1;
          }
          .table_div
          {
              width:742px;
              height:auto;
              background: white;
              margin:20 0 0 20;
              border-radius: 1%;
          }
          .name_column
          {
              display: flex;
              flex-direction: row;
              padding : 20 0 20 0;
          }
          .name
          {
              margin : 5 0 0 10;
          }
          .status_column
          {
              display:flex;
              flex-direction: row;
          }
          .delivered
          {
              display : inline-block;
              background:rgb(71,158,174);
              padding: 0 3 0 3;
              margin: 15 0 0 0;
              color:white;
              border-radius: 1%;
          }
          .pending
          {
              display : inline-block;
              background:rgb(240,184,49);
              padding: 0 3 0 3;
              margin: 15 0 0 0;
              color:white;
              border-radius: 1%;
          }
          .cancel
          {
              display : inline-block;
              background:rgb(234,67,91);
              padding: 0 3 0 3;
              margin: 15 0 0 0;
              color:white;
              border-radius: 1%;
          }
          .edit 
          {
              height: 16px;
              width: 27px;
              background: rgb(80,113,214);
              color:white;
              border-radius: 1%;
              padding: 4 4 4 4;
              margin : 10 0 0 50;
              border-radius: 10%;
          }
          .chat_box
          {
              width:292px;
              height:auto;
              background: white;
              margin :20 0 0 150;
              display: flex;
              flex-direction: column;
              padding : 10 0 0 10;
          }
          .chat_element_1
          {
              display: flex;
              flex-direction: row;
              margin : 10 0 0 10;
              height:87px;
              background: white;
              font-size:50px;
          }


            /* CSS talk bubble */
            .talk-bubble {
        	    margin: 20px;
                position: relative;
	            width: 90px;
	            height: 58px;
	            background-color: rgb(225,228,247);
                border-radius:5%;
            }

            .tri-right.left-top:after{
	            content: ' ';
	            position: absolute;
	            width: 0;
	            height: 0;
                left: -10px;
	            right: auto;
                top: 0px;
	            bottom: auto;
	            border: 22px solid;
	            border-color:  rgb(225,228,247) transparent transparent transparent;
            }
            .talk-bubble-2 {
        	    margin: 20px;
                position: relative;
	            width: 206px;
	            height: 87px;
	            background-color: rgb(239,240,244);
                border-radius:5%;
            }
            .tri-right-2.left-top-2:after{
	            content: ' ';
	            position: absolute;
	            width: 0;
	            height: 0;
                left: 170px;
	            right: auto;
                top: 0px;
	            bottom: auto;
	            border: 22px solid;
	            border-color: rgb(239,240,244) transparent transparent;
            }
            .tri-right-3.left-top-3:after{
	            content: ' ';
	            position: absolute;
	            width: 0;
	            height: 0;
                left: 100px;
	            right: auto;
                top: 0px;
	            bottom: auto;
	            border: 22px solid;
	            border-color: rgb(239,240,244) transparent transparent;
            }
            .talktext{
                 padding: 10 0 0 20;
	             text-align: left;
                 line-height: 1.5;
            }
            .chat_image
            {
                margin : 10 0 10 0;
                display:flex;
                flex-direction: column;
            }
            .chat_element_2
            {
                display :flex;
                flex-direction: row-reverse;
                margin : 10 0 0 10;
                height:87px;
                background: white;
                font-size:50px;
            }
            .cap_div
            {
                margin : 10 0 10 0;
            }
            .empty_space
            {
                flex:1;
                display: flex;
                flex-direction: column;
                background: rgb(248,248,250);
            }
            .enter_your_text
            {
                width:250;
                height:28;
        
                margin: 20 0 0 10;
        
                background: white;
                display: flex;
                flex-direction: row;

            }
            .enter_your_text_title
            {
                border:1px solid rgb(220,220,220);
                width:185;
                height:28;
                margin: 5 0 0 5;
            }
            .send 
            {
                margin: 5 0 0 15;
                width:35;
                height:26;
                background: lightgreen;
                padding : 5 0 0 5;
            }
            .profile_picture
            {
                padding : 10 0 0 30;
                border-radius: 50%;
            }